node_modules/
.next/
.turbo/
.vscode/
dist/
build/
out/
coverage/
.cache/
.vercel/

.env*
!.env.example
!.env.local.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.eslintcache
.parcel-cache
*.log
